<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>New book</title>
	<link rel="stylesheet" href="/css/stylePeople.css">
</head>
<body>
	
	<h2>New Book</h2>
	
	<form th:method="POST" th:action="@{/books}" th:object="${book}">
		
		<label for="title">Title: </label> 
		<input type="text" th:field="*{title}" id="title" />
		<div class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
		<p/>
		
		<label for="author">Author: </label> 
		<input type="text" th:field="*{author}" id="author" /> 
		<div class="error" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
		<p/> 
		
		<label for="year">Year: </label> 
		<input type="text" th:field="*{year}" id="year" /> 
		<div class="error" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>
		<p/>
		
		<button>Add this book to database</button>
		
	</form>
	
	<p/>
	<a class="back" href="/books?sort=title"">back</a>

</body>
</html>