<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${person.getName()}"></title>
</head>
<body>

	<strong th:text="${person.toString()}"></strong> 
	<p th:text="'PersonID: ' + ${person.getId()}" />
	
	<strong th:if="${books.isEmpty()}">No books borrowed</strong>
	
	<div th:if="${!books.isEmpty()}">
		<hr>
		<strong>Borrowed books:</strong>
		<div th:each="book : ${books}">
			<p th:style="${book.isExpired()} ? 'color:red' : 'color:black'" 
			th:text="${book.toString()}"></p>
		</div>
	</div>
	<hr>
	<p/>
	<form th:method="GET"
		th:action="@{/people/{id}/edit(id=${person.getId()})}">
		<button>Edit person</button>
	</form>

	<p/>
	<form th:method="DELETE"
		th:action="@{/people/{id}(id=${person.getId()})}">
		<button>Delete person</button>
	</form>
	
	<p/>
	<a href="/people">back</a>

</body>
</html>