/* Dark theme style */

body {
	background-color: #121212;
	color: #f0f0f0;
	font-family: Arial, sans-serif;
	margin: 20px;
	padding: 20px;
}

a {
	color: #76c7c0;
	text-decoration: none;
}

a:hover {
	color: cyan;
	font-weight: bold;
}

strong {
	color: #ffffff;
}

p {
	color: #b0b0b0;
}

h1 {
	text-align: center;
}

table {
	border: none;
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse;
}

tr {
 	border: none;
	height: 300px;
}

td {
	border: none;
	text-align: center;
	padding: 10px;
}