<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome to the Library!</title>
<link rel="stylesheet" href="/css/styleMainPage.css">
</head>
<body>
	<h1>Welcome to the Library!</h1>

	<table>
		<tr>
			<td>
				<h2>
					<a href="/people?sort=name">Manage people</a>
				</h2>
			</td>
			<td>
				<h2>
					<a href="/books?sort=title">Manage books</a>
				</h2>
			</td>
		</tr>
	</table>
	<p>This web application represents an inventory managing system for
		librarians.</p>
	<p>All books and library users are stored in an external database.</p>
	<p>
		The application is created by using <i>Java, Spring Boot, Spring
			Data JPA, PostgreSQL, and Thymeleaf.</i>
	</p>
	<p>
		The application is written by <i>Marat Khusniyarov</i> for his
		portfolio.
	</p>
	<p>
		<span>The original code can be found at </span><a target="_blank"
			rel="noopener noreferrer" href="https://github.com/good-marik">GitHub</a><span>.</span>
	</p>
</body>
</html>