<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome to the Library!</title>
<style>
h1 {
	text-align: center;
}

table {
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse;
}

tr {
	height: 400px;	
}

td {
	border: 0px solid black;
	text-align: center;
	padding: 10px;
}
</style>

</head>
<body>
	<h1>Welcome to the Library!</h1>

	<table>
		<tr>
			<td>
				<h2>
					<a href="/people">Manage people</a>
				</h2>
			</td>
			<td>
				<h2>
					<a href="/books?sort_by_year=true">Manage books</a>
				</h2>
			</td>
		</tr>
	</table>
	
	<p>This is a demo showing a functional application for librarians.</p>
	<p>All books and the users (people) of the library are stored in an external database.</p>
	<p>The application is written by <i>Marat Khusniyarov</i> for portfolio.</p>
	<p>The original code can be found at GitHub.</p>

</body>
</html>